#container
{
}

#disc
{
  background-color: #888;
  position: relative;
  top: 55;
  left: 200;
  width: 400;
  height: 400;
}

.circle
{
  border-radius: 50%;
}

span.label
{
  position: relative;
  top: 40%;
  display: block;
  text-align: center;
  font-family: 'Arial';
}

span.label input
{
  height: 30px;
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.category
{
  cursor: pointer;
}

.category:after
{
  font-family: 'Arial';
  position: relative;
  top: 40%;
  text-align: center;
  content: attr(data-count);
  display: block;
}

#center
{
  border: thick solid #aaa;
  background-color: #fff;
  width: 200;
  height: 200;

  position: absolute;
  top: 25%;
  left: 25%;

  z-index: 12;
}

#center:hover
{
  background-color: #fafafa;
  border-color: #999;
}

.satellite-container
{
  position: absolute;

  width: 150;
  height: 150;
}

.satellite
{
  border: thick solid #aaa;
  background-color: #eee;
  width: 150;
  height: 150;
  position: relative;
  left: -50%;
  top: -50%;

  z-index: 10;
}

.satellite:hover
{
  background-color: #ddd;
  border-color: #999;
  z-index: 15;
}

.satellite.add
{
  color: #52A84D;
  z-index: 11;
}

.satellite.add:before
{
  content: '+';

  width: 100%;
  height: 100%;
  display: block;

  line-height: 150px;
  text-align: center;

  font-size: 100px;
  font-weight: 800;

  cursor: pointer;
}