<div id="disc-container" class="canvas">
</div>
<h2 id="question-indicator">
</h2>
<div id="training-navegation">
  <h3>Respuesta # <span id="query-index"></span></h3>
  <button id="training-previous" class="btn btn-default">
    Anterior
  </button>
  <button id="training-next" class="btn btn-default">
    Siguiente
  </button>
</div>