<div class="jumbotron">
  <h1>Ayuda</h1>
  <hr/>
  <p>
    Por ahora no tenemos más información de <em><strong>Sensus</strong></em>.
  </p>
  <p>
    Más adelante, acá podría haber un manual de referencia para la aplicación.
  </p>
  <hr/>
  <div id="help-manual">
    <div id="help-manual-index" class="list-group col-md-6">
      <a href="#" class="list-group-item active">Carga de datos</a>
      <a href="#" class="list-group-item">Modelos de Clasificación</a>
      <a href="#" class="list-group-item">Entrenamiento del Modelo</a>
      <a href="#" class="list-group-item">Interpretación de Resultados</a>
      <a href="#" class="list-group-item">Configuración de Cuenta</a>
    </div>
    <div id="help-manual-content" class="col-md-6">
      <p>
        La carga de datos a <em><strong>Sensus</strong></em> acepta formatos <em>.xls</em>, <em>.xlsx</em> y <em>.csv</em>.
      </p>
      <p>
        Las respuestas a las encuestas deben estar en una tabla en que cada fila sea la respuesta de un alumno a las preguntas indicadas en los encabezados de la primera fila.
      </p>
    </div>
  </div>
</div>