<div class="jumbotron">
  <h1>¡Te damos la bienvenida!</h1>
  <hr/>
  <p>
    <em><strong>Sensus</strong></em> te permite entrenar modelos de clasificación para tus encuestas con preguntas abiertas.
  </p>
  <p>
    El primer paso es subir tus encuestas en la sección de <em><strong>Datos</strong></em>.
  </p>
  <p>
    Luego, en <em><strong>Entrenamiento</strong></em> puedes etiquetar respuestas para preparar el algoritmo de clasificación.
  </p>
  <p>
    Finalmente, puedes ir a <em><strong>Visualización</strong></em> para ver los resultados del proceso.
  </p>
  <p>
    <a class="btn btn-default btn-lg" href="<%= data_path %>" role="button">
      <i class="glyphicon glyphicon-upload"></i> Carga de Datos
    </a>
    <a class="btn btn-primary btn-lg" href="<%= training_path %>" role="button">
      <i class="glyphicon glyphicon-tags"></i> Entrenamiento
    </a>
    <a class="btn btn-default btn-lg" href="<%= results_path %>" role="button">
      <i class="glyphicon glyphicon-stats"></i> Visualización
    </a>
    <a class="btn btn-default btn-lg" href="<%= help_path %>" role="button">
      <i class="glyphicon glyphicon-question-sign"></i> Leer más
    </a>
  </p>
</div>