<div class="jumbotron">
  <h1>Visualización de Resultados</h1>
  <hr/>
  <p>
    <em><strong>Sensus</strong></em> aún no ha generado resultados para mostrar en esta página.
  </p>
  <p>
    Una vez se haya corrido un proceso, se podrán ver acá el número de respuestas por categoría y se podrán filtrar los resultados por distintos criterios. Los gráficos quizás se vean como este.
  </p>
  <p class="text-center">
    <%= image_tag 'pie-chart.gif', alt: "Random Pie Chart", height: "220px" %>
  </p>
</div>