<div class="jumbotron">
  <h1>Carga de Datos</h1>
  <hr/>
  <p>
    La carga de encuestas nuevas a <em><strong>Sensus</strong></em> no está habilitada aún.
  </p>
  <p>
    Actualmente, hay una única encuesta cargada.
  </p>
  <p>
    <img height="60px" src="http://static1.squarespace.com/static/5248a8c6e4b0a4c7037edb93/t/55ce40dce4b0fe0a5d72daa8/1439580380983/Excel2013FileIcon.png?format=300w"
    alt="Excel File"/>
    <span>
      Encuesta Inacap 2015
    </span>
  </p>
</div>