<div class="jumbotron">
  <h1>Carga de Datos</h1>
  <hr/>
  <p>
    La carga de encuestas nuevas a <em><strong>Sensus</strong></em> no está habilitada aún.
  </p>
  <p>
    Actualmente, hay una única encuesta cargada.
  </p>
  <p>
    <%= image_tag "excel.png", alt: "Excel File", height: "60px" %>
    <span>
      Encuesta Inacap 2015
    </span>
  </p>
</div>